<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Patients:</strong><br/>
  <% @specialist.patients.each do |patient| %>
      <%= patient.name %><br/>
      <% @specialist.appointments.each do |appoint| %>
          <%= appoint.appointment_date %><br/>
          <em>Days till Appointment:</em>
          <% d1 = appoint.appointment_date.yday %>
          <% d2 = Time.new.yday %>
          <%= (d1 - d2).to_i %><br/>
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
